
.vday image {
    width: 300px;
}
.body {
    background-color: bisque;
    animation: animation 2s ease-in-out;
    border-style: dotted;
}
@keyframes animation {
    from {opacity: 0;}
    to {opacity: 1;}
}