h1 {
    color: rgb(129, 0, 0);
    text-align: center;
}
.vday-image {
    width: 300px;
}
body {
    background-color: bisque;
    animation: animation 2s ease-in-out;

@keyframes animation {
    from {opacity: 0;}
    to {opacity: 1;}
}